.topBar{
    background-color: black;
    color: white;
    padding:1% 2% 3% 2%;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
#searchBar{
    width: 80%;
    margin-right: 20px;
}
.mainMenu{
    padding-left: 2%;
    margin-top: -1.5%;
}
.mainMenu object , .mainMenu img{
    cursor:-webkit-grab;
    max-height: 48px;
}
.mainMenu img{
    margin-top: -45px;
}
.mainMenu object:hover{
    margin-top: -1%;
    max-height: 50px;
    text-decoration: none;
}
.mainContent{
    margin-top: -5px;
    height: 84vh;
}
.legendContent{
    position: absolute;
    z-index: 9;
    width: 75px;
    height: auto;
    top : 150px;
    left: 10px;
}
#optionsMenuheader {
    text-align: end;
    cursor: move;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 3px;
}
#optionsMenuheader img{
    margin-right: 5px;
}
#legendView{
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}
#legendView a object , #legendView a img{
    margin-top: 6px;
    width: 45px;
    height: 45px;
}
body{
    overflow:hidden;
}
.infoBar{
    text-align: center;
    width: 100%;
    height: 30px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    color :white;
    bottom: 0px;
    z-index: 11;
}
#collapseGraphType{
    margin-left: -40px;
    margin-top: -50px;
}
.dropDownGraph{
    position: relative;
    display: inline-block;
}
.dropGraphType {
    display: none;
    position: absolute;
    width: 200px;
    z-index: 1;
}
#collapseIntervalType{
    margin-left: -25px;
    margin-top: -50px;
}
.indicatorDialog{
    display: none;
    position: absolute;
    top: 20vh;
    left: 25vw;
    width: 50vw;
    height: 60vh;
    align-self: center;
    z-index: 9;
}
.indicatorDialogheader{
    text-transform:uppercase;
    cursor: move;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.97);
    color: #000000;
    border: 1px solid rgb(216, 216, 216);
    padding: 3px 3px 3px 30px;
    border-radius: 10px 10px 0px 0px;
}
.indicatorContent{
    width: 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.95);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0px 0px 10px 10px;
}
.closeBtn{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 5px;
}
#StarredList{
    background-color:rgb(255, 255, 250);
    border-left: 1px dashed rgb(216, 216, 216);
}
.starredTable{
    margin-top: 20px;
    width: 100%;
    font-size: small;
}