body{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}
#search_input{
    position: absolute;
    height: 40px;
    width: 100%;
    border: 0%;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #eaeaea;
}

#search_btn{
    position: absolute;
    top: 10px;
    padding-left: 10px;
    z-index: 1;
}

#filter_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.row{
    margin: 0% !important;
    padding: 0% !important;
}

.box{
    padding: 0% !important;
    display: block;
}

#company_list{
    position: relative;
    top:50px;
    padding-left: 20px;
    display: block;
}
#search_list{
    position: relative;
    top:50px;
    padding-left: 20px;
    display: none;
}

#company_list table{
    width: 100%;
}
#search_list table{
    width: 100%;
}

#selected_company{
    display:block;
    width: 100px;
    height: 40px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #eaeaea;
}

#selected_company b{
    position: relative;
    top: 20%;
    text-align: center;
    
}

#graph_menu{
    display: flex;
    padding: 1px;
}

#graph_menu img{
    height: 40px;
    border: 1px solid #eaeaea;
}

#screenshot{
    position: absolute;
    right: 20px;
    border: none !important;
    margin-top: 10px;
    height: 28px !important;
}
#graph_area{
    width: 100%;
    height: calc(100vh - 40px);
    overflow-x: scroll;
}
#graph{
    height:98%;
    right: 0px;
}
#graph_area::-webkit-scrollbar {
    display: none;
}
#graph_area {
border: #000;
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
.drop_container {
    /* display: none; */
    position: absolute;
    width: auto;
    z-index: 12;
    border: 1px solid #eaeaea;
    display: none;
}
.dropDown{
    position: relative;
    display: inline-block;
}
.drop_container img{
    border: none !important;
}
.drop_container img:hover{
    border: 1px double #ddd !important;
    cursor:grab;
}
hr{
     height: 0.2px !important;
     margin: 0px !important;
}
#topbar{
    background-color: black;
    color: white;
    padding:0.5% 1% 0.5% 0% !important;
    /* -webkit-user-select: none;
    -webkit-app-region: drag; */
}
#topOptions{
    position: fixed;
    right: 0px;
    text-align: end;
}
#topOptions img{
    margin-right: 10px;
    opacity: 60%;
}
#topOptions img:hover{
    opacity: 100%;
}
#topmore{
    margin-left: 10px;
    margin-right: 10px;
}
#hiddenData , #hiddenGraphType{
    display: none;
}
