body{
    background: #ffffff90 !important;
    margin: 0%;
    left: 0%;
    top: 0%;
    padding: 0%;
    border: 0.5px solid #555;
    backdrop-filter: blur(40px);
    overflow-x: hidden;
}
#indicator_box{
    
}
#indicator_head{
    background: black;
    height: 40px;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}
#draggable-area{
    width: 70%;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
#close_indictor{
    position: absolute;
    right: 20px;
    z-index:30;
    margin-top: -20px;
}

#search_box_ind{
    text-align: center;
    padding:10px;
    
}
#search_input_ind{
    width:90%;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    
    
}
#search_ind{
    position: absolute;
    margin-top: 8px;
    margin-left: 15px;
    z-index: 8;
}
#selected_indicator{
    padding-left : 10px;
    padding-right : 10px;
    padding-top: 5px;
    height: 80%;
    overflow-y:auto;
    
}
#indicator_scroll{
    position:relative;
}

#selected_ind_table{
    width: 100%;
    font-size: medium;
}
.rightMenu {
    position: relative;
    right: 2px;
}
.rightMenu img{
    margin:5px;
}
#selected_indicator::-webkit-scrollbar {
    display: none;
}
.close_indicator{
    display:none;
}

#selected_ind_table tr:hover{
    cursor:pointer;
    background: rgb(0, 0, 0);
    color: #ffffff;

}
#selected_ind_table  tr:hover img{
    -webkit-filter: grayscale(100%) invert(100%);
    filter: grayscale(100%) invert(100%);
}
#indicator_settings_name{
    position:relative;
    top: 5px;
    left:25%;
    font-size: larger;
}
#label_and_button{
    display: block;
    border: 0.5px solid rgb(209, 209, 209);
    
}
#back_btn{
    position: relative;
    top: 5px;
    left: 15px;
    margin-bottom: 10px;
}
form{
    padding: 20px;
}
.row{
    padding: 0% !important;
    margin: 0%  !important;
}
.column-35{
    width: 35%;
    margin: auto;
}
.column-65{
    width: 65%;
    margin-top: auto;
}
.column-50{
    display: flex;
    width: 50%;
    height: 100%;
    margin-top: 10px;
}
.column-50-inner{
    display: flex;
    width: 50%;
    height: 100%;
}
/* .layoutTest{
    border:0.2px solid rgb(231, 235, 255);
    background-color: #00ff0010;
} */
.form-control-color{
    width: 40px !important;
    margin: 1% 10% 1% 1%;
    padding: 1% !important;
}
.with_check{
    margin-left: 0px !important;
}
form span{
    margin-left: 15px;
}
form input{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}
form select{
    margin-left: 5%;
    margin-right: 5%;
}
.bottom_fixed{
    position: fixed;
    display: flex;
    bottom:40px;
    left: 30px;
    width: 100%;
    height: auto;
}
.form-range{
    width: 100% !important;
}
.apply_btn{
    margin-left: 15%;
}
#form_setting{
    padding: 5%;
}